:root{
    --underline-default : #192929;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 16px;
    background-color: #F7F7F7;
    color:#192929;
}
.list-ele
{
    list-style-type: none;
    margin-top: 6px;
    position: relative;
}
.img-list-ele{
    margin-left: 10px;
    font-weight: 500;
}
#nav{
    width: 100vw;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 15px;
}
#nav-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#nav-img{
    display: flex;
    flex-direction: row;
    width:45%;
}
#profile-pic{
    width:30px;
    height: 30px;
}
#nav-list{
    display: flex;
    width: 18%;
    flex-direction:row;
    justify-content: space-around;
}
.list-ele::after{
    content:"";
    position:absolute;
    left:0;
    bottom:2px;
    width:100%;
    height:1px;
    background-color:var(--underline-default);
    transform:scaleX(0);
    transition: transform 0.5s ease-in-out;
}
.list-ele:hover::after{
    transform:scaleX(1);
}
