:root{
    --underline-default : #192929;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 16px;
    font-family: 'Switzer', sans-serif;
    background-color: #faf8f5; /*original is F7f7f7 / #faf0aa */
    color:#1a1a1a;/*original is 192929 or 3d3d3d */
}
.list-ele
{
    list-style-type: none;
    margin-top: 6px;
    position: relative;
}
.img-list-ele{
    margin-left: 10px;
    font-weight: 500;
}
#nav{
    position: sticky;
    width: 100vw;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 15px;
}
#nav-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#nav-img{
    display: flex;
    flex-direction: row;
    width:45%;
    z-index: 10;
}
#profile-pic{
    width:30px;
    height: 30px;
}
#nav-list{
    display: flex;
    width: 18%;
    flex-direction:row;
    justify-content: space-around;
}
#dm-lm-toggle{
    position: relative;
    display: flex;
}
.list-ele::after{
    content:"";
    position:absolute;
    left:0;
    bottom:2px;
    width:100%;
    height:1px;
    background-color:var(--underline-default);
    transform:scaleX(0);
    transition: transform 0.5s ease-in-out;
}
.list-ele:hover::after{
    transform:scaleX(1);
}
.link{
    text-decoration: none;
    color: inherit;
}
/* Main page css */
#content-section{
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    
}
#content-section > div *{
    font-weight: 500;
    font-size: 0.8rem;
}
#hero-container-1{
    width: 40%;
    position: block;
    margin: 150px auto;
    margin-right: 50px;
    padding-left: 150px;    
}
#hero-container-2{
    width:15%;
    position: block;
    margin: 200px auto;
}
/* Contact page CSS */
#contact-space{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#contact-box{
    width: 50%;
    padding: 100px;
    margin-bottom: 100px;
    position: relative;
}
#reach-out{
    font-size: 4.25rem;
    font-weight:300;
    letter-spacing: -1.25px;
}
#link-space{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 170px;
    margin-top: 75px;
    justify-content: flex-start;
}
#mail-space{
    height: 20%;
    margin-bottom: 10px;
    padding-bottom: 100px;
}
#socials-space{
margin-top:-20px;
}
.link-header{
    margin-bottom:5px;
    font-weight: 700;
}
/* About page css */
#about-main{
    padding: 30px;
    margin: 45px;
    font-weight: 300;
    width: 70%;
    margin: auto;
    font-size: 0.8rem;
    font-weight: 500;
}
.about-page-titles{
    font-weight:600;
    text-align: center;
    font-size: 1.2rem;
}
#about-content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    margin-top: 50px;
}
#cell1{
    line-height: 1.4rem;
}
#cell2{
    line-height: 1.6rem;
}
#fte{
    text-decoration: underline;
}
#work-experience{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
}
.work-exp-title{
    font-size: 2.5rem;
    text-align: center;
    transform: translateY(35%);
    position: relative;
}
.job-list{
    position: relative;
    transform: translateX(28%);
    width: 70%;
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}
ol.custom-ol {
    list-style: none;
    counter-reset: custom-counter;
    padding-left: 1.5rem;
  }
  
  ol.custom-ol li {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 3rem;
  }
  
  ol.custom-ol li::before {
    content: counter(custom-counter, decimal-leading-zero) ". ";
    position: absolute;
    left: 0;
    color: var(--underline-default);
    font-weight: bold;
    padding-right: 1rem;
    font-family: monospace;
    font-variant-numeric: tabular-nums;
  }
  .year{
    font-weight:300;
  }
  .faint-line {
    border: none;
    border-top: 1px solid var(--underline-default);
    opacity: 0.1; /* very faint line */
    margin: 1.5rem 0;
  }
  .image-main{
    padding-top: 50px;
    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;
  }